/* .bg-vibin {
  background: hsla(176, 57%, 89%, 1);

  background: linear-gradient(
    45deg,
    hsla(176, 57%, 89%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(176, 57%, 89%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(176, 57%, 89%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D3F3F1", endColorstr="#FFFFFF", GradientType=1 );
} */

.bg-vibin {
  background: hsla(283, 23%, 94%, 1);

  background: linear-gradient(
    135deg,
    hsla(283, 23%, 94%, 1) 0%,
    hsla(238, 83%, 93%, 1) 51%,
    hsla(257, 24%, 94%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(283, 23%, 94%, 1) 0%,
    hsla(238, 83%, 93%, 1) 51%,
    hsla(257, 24%, 94%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(283, 23%, 94%, 1) 0%,
    hsla(238, 83%, 93%, 1) 51%,
    hsla(257, 24%, 94%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1ECF3", endColorstr="#DFE0FC", GradientType=1 );
}

.gradient-one {
  background: linear-gradient(130deg, #914887 20%, #8b257e 77.5%);
}

.gradient-two {
  background: linear-gradient(
    90deg,
    rgb(238, 237, 243) 0%,
    0.77381%,
    rgb(239, 238, 244) 1.54762%,
    6.72619%,
    rgb(239, 236, 243) 11.9048%,
    12.381%,
    rgb(240, 237, 244) 12.8571%,
    27.9167%,
    rgb(242, 236, 244) 42.9762%,
    51.9048%,
    rgb(239, 236, 243) 60.8333%,
    61.9643%,
    rgb(238, 235, 246) 63.0952%,
    66.7262%,
    rgb(235, 234, 249) 70.3571%,
    73.2738%,
    rgb(232, 232, 248) 76.1905%,
    77.1429%,
    rgb(230, 231, 248) 78.0952%,
    79.9405%,
    rgb(228, 229, 249) 81.7857%,
    84.1667%,
    rgb(227, 228, 248) 86.5476%,
    87.0238%,
    rgb(226, 227, 248) 87.5%,
    89.3452%,
    rgb(224, 224, 252) 91.1905%,
    95.5952%,
    rgb(220, 223, 252) 100%
  );
}
.myBg {
  background: #5433FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.profile-bg{
  background: rgb(255,228,244);
background: linear-gradient(90deg, rgba(255,228,244,1) 66%, rgba(247,176,221,1) 100%);
}